ExemplePoso/Service References/ServicePrescribable/PrescribableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="urn:Vidal" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="urn:Vidal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:Vidal">
      <xsd:complexType name="ArrayOfInt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="int" nillable="true" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchBrandedPrescribableByIds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="brandedPrescribableIds" nillable="true" type="tns:ArrayOfInt" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfBrandedPrescribable">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="brandedPrescribable" nillable="true" type="tns:brandedPrescribable" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="brandedPrescribable">
        <xsd:sequence>
          <xsd:element name="code" nillable="true" type="xsd:string" />
          <xsd:element name="hasKnownEffectExcipients" nillable="true" type="xsd:boolean" />
          <xsd:element name="homogeneousOnIndications" nillable="true" type="xsd:boolean" />
          <xsd:element name="id" nillable="true" type="xsd:int" />
          <xsd:element name="multipleRoutes" nillable="true" type="xsd:boolean" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="safetyAlert" nillable="true" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchBrandedPrescribableByIdsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="brandedPrescribableList" nillable="true" type="tns:ArrayOfBrandedPrescribable" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchBrandedPrescribableByName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="name" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchBrandedPrescribableByNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="brandedPrescribableList" nillable="true" type="tns:ArrayOfBrandedPrescribable" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchBrandedPrescribableByUcdIds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ucdIds" nillable="true" type="tns:ArrayOfInt" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfUcdBrandedPrescribables">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ucdBrandedPrescribables" nillable="true" type="tns:ucdBrandedPrescribables" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ucdBrandedPrescribables">
        <xsd:sequence>
          <xsd:element name="brandedPrescribables" nillable="true" type="tns:ArrayOfBrandedPrescribable" />
          <xsd:element name="ucd" nillable="true" type="tns:ucd" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ucd">
        <xsd:sequence>
          <xsd:element name="code" nillable="true" type="xsd:string" />
          <xsd:element name="code13" nillable="true" type="xsd:string" />
          <xsd:element name="ghs" type="xsd:boolean" />
          <xsd:element name="ghsPrice" nillable="true" type="xsd:float" />
          <xsd:element name="id" nillable="true" type="xsd:int" />
          <xsd:element name="marketStatus" nillable="true" type="tns:MarketStatus" />
          <xsd:element name="maxUcdRangePrice" nillable="true" type="xsd:float" />
          <xsd:element name="minUcdRangePrice" nillable="true" type="xsd:float" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="retrocession" type="xsd:boolean" />
          <xsd:element name="retrocessionPrice" nillable="true" type="xsd:float" />
          <xsd:element name="safetyAlert" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="MarketStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AVAILABLE" />
          <xsd:enumeration value="DELETED" />
          <xsd:enumeration value="PHARMACO" />
          <xsd:enumeration value="NEW" />
          <xsd:enumeration value="DELETED_ONEYEAR" />
          <xsd:enumeration value="PHARMACO_ONEYEAR" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="searchBrandedPrescribableByUcdIdsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="UcdBrandedPrescribablesList" nillable="true" type="tns:ArrayOfUcdBrandedPrescribables" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchBrandedPrescribableByNameResponse">
    <wsdl:part name="parameters" element="tns:searchBrandedPrescribableByNameResponse" />
  </wsdl:message>
  <wsdl:message name="searchBrandedPrescribableByUcdIdsRequest">
    <wsdl:part name="parameters" element="tns:searchBrandedPrescribableByUcdIds" />
  </wsdl:message>
  <wsdl:message name="searchBrandedPrescribableByIdsRequest">
    <wsdl:part name="parameters" element="tns:searchBrandedPrescribableByIds" />
  </wsdl:message>
  <wsdl:message name="searchBrandedPrescribableByIdsResponse">
    <wsdl:part name="parameters" element="tns:searchBrandedPrescribableByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="searchBrandedPrescribableByUcdIdsResponse">
    <wsdl:part name="parameters" element="tns:searchBrandedPrescribableByUcdIdsResponse" />
  </wsdl:message>
  <wsdl:message name="searchBrandedPrescribableByNameRequest">
    <wsdl:part name="parameters" element="tns:searchBrandedPrescribableByName" />
  </wsdl:message>
  <wsdl:portType name="prescribableService">
    <wsdl:operation name="searchBrandedPrescribableByIds">
      <wsdl:input name="searchBrandedPrescribableByIdsRequest" message="tns:searchBrandedPrescribableByIdsRequest" />
      <wsdl:output name="searchBrandedPrescribableByIdsResponse" message="tns:searchBrandedPrescribableByIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchBrandedPrescribableByName">
      <wsdl:input name="searchBrandedPrescribableByNameRequest" message="tns:searchBrandedPrescribableByNameRequest" />
      <wsdl:output name="searchBrandedPrescribableByNameResponse" message="tns:searchBrandedPrescribableByNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchBrandedPrescribableByUcdIds">
      <wsdl:input name="searchBrandedPrescribableByUcdIdsRequest" message="tns:searchBrandedPrescribableByUcdIdsRequest" />
      <wsdl:output name="searchBrandedPrescribableByUcdIdsResponse" message="tns:searchBrandedPrescribableByUcdIdsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrescribableServiceHttpBinding" type="tns:prescribableService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchBrandedPrescribableByIds">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchBrandedPrescribableByIdsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchBrandedPrescribableByIdsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchBrandedPrescribableByName">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchBrandedPrescribableByNameRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchBrandedPrescribableByNameResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchBrandedPrescribableByUcdIds">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchBrandedPrescribableByUcdIdsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchBrandedPrescribableByUcdIdsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrescribableService">
    <wsdl:port name="PrescribableServiceHttpPort" binding="tns:PrescribableServiceHttpBinding">
      <wsdlsoap:address location="http://localhost:8011/merlin-service/services/PrescribableService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>